// ------------------------------------
// PRIMARY COLORS
// ------------------------------------
$primary-color: #539092;
$primary-color-1: #8BCFCC;
$primary-color-2: #AEE8E6;
$primary-color-3: #F5FAC8;

// ------------------------------------
// SECONDARY COLORS
// ------------------------------------
$secondary-color: #015349;
$secondary-color-1: #5F6863;
$secondary-color-2: #81927F;
$secondary-color-3: #B0C5BB;
$secondary-color-4: #EBEFEF;

// ------------------------------------
// SUCCESS COLORS
// ------------------------------------
$success-color: #5CB85C;
$success-color-1: #53A653;
$success-color-2: #4A934A;
$success-color-3: #408140;
$success-color-4: #376E37;

// ------------------------------------
// INFO COLORS
// ------------------------------------
$info-color: #C0E2FD;
$info-color-1: #9ACFF9;
$info-color-2: #71BCF6;
$info-color-3: #48A8F4;
$info-color-4: #48A8F4;
$info-color-5: #2196F3;

// ------------------------------------
// WARNING COLORS
// ------------------------------------
$warning-color: #FEF8C6;
$warning-color-1: #FDF5A4;
$warning-color-2: #FFF282;
$warning-color-3: #FFEF5E;
$warning-color-4: #FFEB3C;
$warning-color-5: #D1C130;

// ------------------------------------
// ERROR COLORS
// ------------------------------------
$error-color: #FCCBC7;
$error-color-1: #F9A9A2;
$error-color-2: #F7877C;
$error-color-3: #F5655A;
$error-color-4: #F44236;
$error-color-5: #C7372C;

// ------------------------------------
// CUSTOME COLORS
// ------------------------------------
$green : #669966;